<ng-container *ngIf="product$ | async as product">

<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" href="#">Home</a>
        <a class="breadcrumb-item text-dark" href="#">Shop</a>
        <span class="breadcrumb-item active">Shop Detail</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->


<!-- Shop Detail Start -->
<!--<div class="container-fluid pb-5">-->
<!--  <div class="row px-xl-5">-->


<!--            <app-gallery-->
<!--              [product]="product"-->
<!--              [selectedSize]="selectedSize"-->
<!--              [selectedColor]="selectedColor">-->
<!--            </app-gallery>-->
<!--            <app-product-item-description-->
<!--              [product]="product"-->
<!--              [selectedSize]="selectedSize"-->
<!--              [selectedColor]="selectedColor"-->
<!--              (variantChange)="onVariantChange($event)">-->
<!--            </app-product-item-description>-->

<!--  </div>-->

<!--&lt;!&ndash;            <app-product-item-addetional-info&ndash;&gt;-->
<!--&lt;!&ndash;              [product]="product">&ndash;&gt;-->
<!--&lt;!&ndash;            </app-product-item-addetional-info>&ndash;&gt;-->


<!--</div>-->

  <!-- Shop Detail Start -->
  <div class="container-fluid pb-5">
    <div class="row px-xl-5">
      <div class="col-lg-5 mb-30">
        <app-gallery
          [product]="product"
          [selectedSize]="selectedSize"
          [selectedColor]="selectedColor">
        </app-gallery>
      </div>

      <div class="col-lg-7 h-auto mb-30">
        <app-product-item-description
          [product]="product"
          [selectedSize]="selectedSize"
          [selectedColor]="selectedColor"
          (variantChange)="onVariantChange($event)">
        </app-product-item-description>
      </div>
    </div>

    <app-product-item-addetional-info
      [product]="product">
    </app-product-item-addetional-info>

  </div>


</ng-container>
