<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" routerLink="/home">Home</a>
        <a class="breadcrumb-item text-dark" (click)="onShop()" style="cursor: pointer">Shop</a>
        <span class="breadcrumb-item active">Checkout</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <!-- Billing Section -->
    <div class="col-lg-8">
      <h5 class="section-title position-relative text-uppercase mb-3">
        <span class="bg-secondary pr-3">Billing Address</span>
      </h5>

      <div class="bg-light p-30 mb-5">
        <div class="row">
          <div class="col-md-6 form-group">
            <label>First Name</label>
            <input class="form-control" [(ngModel)]="billingInfo.firstName" />
          </div>
          <div class="col-md-6 form-group">
            <label>Last Name</label>
            <input class="form-control" [(ngModel)]="billingInfo.lastName" />
          </div>
          <div class="col-md-6 form-group">
            <label>E-mail</label>
            <input class="form-control" [(ngModel)]="billingInfo.email" />
          </div>
          <div class="col-md-6 form-group">
            <label>Mobile No</label>
            <input class="form-control" [(ngModel)]="billingInfo.phoneNumber" />
          </div>
          <div class="col-md-6 form-group">
            <label>Address</label>
            <input class="form-control" [(ngModel)]="billingInfo.address" />
          </div>
          <div class="col-md-6 form-group">
            <label>City</label>
            <input class="form-control" [(ngModel)]="billingInfo.city" />
          </div>
          <div class="col-md-6 form-group">
            <label>State</label>
            <input class="form-control" [(ngModel)]="billingInfo.state" />
          </div>
          <div class="col-md-6 form-group">
            <label>ZIP Code</label>
            <input class="form-control" [(ngModel)]="billingInfo.zipCode" />
          </div>
          <div class="col-md-12 form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="shipto"
                     (change)="onShipToDifferentAddressChanged($event)" />
              <label class="custom-control-label" for="shipto">
                Ship to different address
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- Shipping Section -->
      <div class="collapse mb-5" [class.show]="useDifferentShipping" id="shipping-address">
        <h5 class="section-title position-relative text-uppercase mb-3">
          <span class="bg-secondary pr-3">Shipping Address</span>
        </h5>

        <div class="bg-light p-30">
          <div class="row">
            <div class="col-md-6 form-group">
              <label>First Name</label>
              <input class="form-control" [(ngModel)]="shippingInfo.firstName" />
            </div>
            <div class="col-md-6 form-group">
              <label>Last Name</label>
              <input class="form-control" [(ngModel)]="shippingInfo.lastName" />
            </div>
            <div class="col-md-6 form-group">
              <label>E-mail</label>
              <input class="form-control" [(ngModel)]="shippingInfo.email" />
            </div>
            <div class="col-md-6 form-group">
              <label>Mobile No</label>
              <input class="form-control" [(ngModel)]="shippingInfo.phoneNumber" />
            </div>
            <div class="col-md-6 form-group">
              <label>Address</label>
              <input class="form-control" [(ngModel)]="shippingInfo.address" />
            </div>
            <div class="col-md-6 form-group">
              <label>City</label>
              <input class="form-control" [(ngModel)]="shippingInfo.city" />
            </div>
            <div class="col-md-6 form-group">
              <label>State</label>
              <input class="form-control" [(ngModel)]="shippingInfo.state" />
            </div>
            <div class="col-md-6 form-group">
              <label>ZIP Code</label>
              <input class="form-control" [(ngModel)]="shippingInfo.zipCode" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Order Total Section -->
    <div class="col-lg-4">

      <ng-container *ngIf="(subtotal$ | async) as subtotal">
        <ng-container *ngIf="subtotal > 0">

      <h5 class="section-title position-relative text-uppercase mb-3">
        <span class="bg-secondary pr-3">Order Total</span>
      </h5>

      <div class="bg-light p-30 mb-5">

<!--        <div class="border-bottom">-->
<!--          <h6 class="mb-3">Products</h6>-->
<!--          <ng-container *ngIf="shoppingCart$ | async as cartState">-->
<!--            <ng-container *ngIf="cartState.shoppingCart?.items?.length; else emptyCart">-->
<!--              <div class="d-flex justify-content-between" *ngFor="let item of cartState.shoppingCart?.items">-->
<!--                <p>{{ item.product.name }}</p>-->
<!--                <p>{{ item.product.productPrice.symbol }}{{ item.product.productPrice.price * item.quantity }}</p>-->
<!--              </div>-->
<!--            </ng-container>-->
<!--            <ng-template #emptyCart>-->
<!--              <p>No items in cart</p>-->
<!--            </ng-template>-->
<!--          </ng-container>-->
<!--        </div>-->

        <div class="border-bottom">
          <h6 class="mb-3">Products</h6>
          <ng-container *ngIf="shoppingCart$ | async as cartState">
            <ng-container *ngIf="cartState.shoppingCart?.items?.length; else emptyCart">
              <div
                *ngFor="let item of cartState.shoppingCart?.items"
                class="d-flex py-1 border-0"
                style="border-bottom: 1px dashed #ddd;"
              >
                <!-- Product Name + Quantity (70%) -->
                <div class="flex-grow-1">
                  <span class="d-block">{{ item.product.name }}</span>
                  <small class="text-muted">Qty: {{ item.quantity }}</small>
                </div>

                <!-- Total Price (30%) aligned right -->
                <div class="text-right" style="min-width: 100px;">
          <span>
            {{ item.product.productPrice.symbol }}{{ item.product.productPrice.price * item.quantity | number: '1.2-2' }}
          </span>
                </div>
              </div>
            </ng-container>

            <ng-template #emptyCart>
              <p>No items in cart</p>
            </ng-template>
          </ng-container>
        </div>


        <div class="border-bottom pt-3 pb-2">
<!--          <div class="d-flex justify-content-between mb-3">-->
<!--            <h6>Subtotal</h6>-->
<!--            <h6>{{ total$ | async }}</h6>-->
<!--          </div>-->
<!--          <div class="d-flex justify-content-between">-->
<!--            <h6 class="font-weight-medium">Shipping</h6>-->
<!--            <h6 class="font-weight-medium">$0</h6>-->
<!--          </div>-->

          <div class="d-flex justify-content-between mb-3">
            <h6>Subtotal</h6>
            <h6 *ngIf="subtotal$ | async as subtotal">
              <ng-container *ngIf="currencySymbol$ | async as symbol">
                {{ symbol }}{{ subtotal.toFixed(2) }}
              </ng-container>
            </h6>
          </div>

          <div class="d-flex justify-content-between mb-3" *ngIf="coupon$ | async as coupon">
            <h6>Coupon <small>{{ coupon.code }}</small></h6>
            <h6>- {{ coupon.currency }}{{ coupon.discountAmount.toFixed(2) }}</h6>
          </div>

          <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Shipping</h6>
            <h6 class="font-weight-medium">$0</h6>
          </div>

        </div>

        <div class="pt-2">
          <div class="d-flex justify-content-between mt-2">
            <h5>Total</h5>
            <h5>
              {{ total$ | async }}
            </h5>
          </div>
        </div>
      </div>

      <div class="mb-5">
        <h5 class="section-title position-relative text-uppercase mb-3">
          <span class="bg-secondary pr-3">Payment</span>
        </h5>
        <div class="bg-light p-30">
          <!-- Only Paypal for now -->
<!--          <div class="form-group">-->
<!--            <div class="custom-control custom-radio">-->
<!--              <input type="radio" class="custom-control-input" id="paypal" name="payment" checked />-->
<!--              <label class="custom-control-label" for="paypal">Paypal</label>-->
<!--            </div>-->
<!--          </div>-->

          <div class="form-group">
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="paypal" name="payment" checked />
              <label class="custom-control-label d-flex align-items-center" for="paypal">
                <img src="assets/template/img/PayPal-Logo.png" alt="PayPal" style="height: 20px; margin-right: 8px;" />
                PayPal
              </label>
            </div>
          </div>

          <button (click)="onPlaceOrder()" [disabled]="loading" class="btn btn-block btn-primary font-weight-bold py-3">
            {{ loading ? 'Placing Order...' : 'Place Order' }}
          </button>

          <div class="mt-2 text-danger" *ngIf="error">{{ error }}</div>
        </div>
      </div>

        </ng-container>
      </ng-container>

    </div>
  </div>
</div>
<!-- Checkout End -->
